@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;600;700;800;900&display=swap");

.f-compra {
  padding: 30px;
  height: 700px;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/background-tienda1_Mesa\ de\ trabajo\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .fcompra-title {
    font-size: 60px;
    color: $background-dark;
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 75px;
  }

  .columns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .factura {
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 2px 2px 20px -2px #e5e5e5;
      padding: 30px;
      margin: 30px;
      justify-content: space-around;
      align-items: baseline;
      border-top: 5px solid $primary;
      // flex: 2;

      .factura-title {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        // flex: 2;
      }

      .factura-content {
        padding: 10px;
        font-size: 15px;
      }
    }
    .compra-y-pago {
      .resumen-compra {
        background-color: white;
        box-shadow: 2px 2px 20px -2px #e5e5e5;
        padding: 30px;
        display: flex;
        flex-direction: column;
        // align-items: center;

        .summary-title {
          align-self: center;
        }
        .summary-detail {
          display: flex;
          flex-direction: column;
          .summary-subtotal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          .summary-envio {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          .summary-total {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }

      .pago {
        background-color: white;
        box-shadow: 2px 2px 20px -2px #e5e5e5;
        padding: 30px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .buy-btn {
          font-size: 20px;
          font-family: "Nunito", sans-serif;
          padding: 10px 40px;
          background-color: $success;
          color: #fff;
          border: none;
          border-radius: 20px;
          align-self: center;
          cursor: pointer;

          &:hover {
            background-color: $primary;
            color: #fff;
          }
        }
      }
    }
  }
}
