@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;600;700;800;900&display=swap");

.home {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;


  .logo-banner .logo-img {
    padding: 0;
    height: 20em;
    margin: -5em 0;
  }

  .banner {
    .columns {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .background {
        background-image: url("../../../public/banner\ img\ tropical_Mesa\ de\ trabajo\ 1.png");
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 100%;
        height: 650px;
        grid-column: span 2;
        width: 80%;

      }

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 650px;

        .titulo {
          font-family: "Nunito", sans-serif;
          font-size: 95px;
          color: $background-dark;
          text-align: center;
        }

        .home-btn {
          font-size: 20px;
          font-family: "Nunito", sans-serif;
          padding: 10px 40px;
          background-color: $success;
          color: #fff;
          border: none;
          border-radius: 20px;
          cursor: pointer;

          a {
            color: white;
          }

          &:hover {
            background-color: $primary;
            color: #fff;
          }
        }
      }
    }
  }

  .productos {
    background-image: url("../../../public/fondo\ prod_Mesa\ de\ trabajo\ 1.png");
    background-size: cover;
    background-position: center;

    .columns {
      .card {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 400px;
        background-color: white;
        box-shadow: 2px 2px 20px -2px #e5e5e5;
      }

      .ti-jugo {
        font-size: 25px;
        font-family: "Nunito", sans-serif;
        color: $background-dark;
      }

      .precio {
        font-size: 20px;
        font-weight: bold;
        color: $primary;
      }

      .intro-sub {
        font-family: "Nunito", sans-serif;
        font-size: 25px;
        color: $background-dark;
      }

      .intro-ti {
        font-family: "Nunito", sans-serif;
        font-size: 45px;
        color: $background-dark;
      }

      .descripcion {
        text-align: center;
      }
    }
  }

  .nosotros {
    background-image: url("../../../public/back-nosotros_Mesa\ de\ trabajo\ 1.png");
    background-size: cover;
    background-position: center;

    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .uno {
        display: flex;
        flex-direction: column;
        width: 50%;

        .card {
          margin: auto;
          display: flex;
          padding: 30px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 380px;
          height: 450px;
          background-color: white;
          box-shadow: 2px 2px 20px -2px #e5e5e5;

          .nostros-desc {
            font-size: 25px;
            color: $primary;
          }

          .nosotrs-text {
            text-align: justify;
          }

          > ul {
            .leer {
              text-decoration: underline;
              color: black;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
