.login-form {
    .actions {
        justify-content: space-between !important;
    }
    .ui.basic {
        margin: 0 !important;
    }
    .ui.button.submit {
        margin: 0 1em 0 0 !important;
    }
}