@import "../scss/index.scss";

body {
  background-color: white;
  margin: 0;
  padding: 0;
 
}

.ui.form {
  .ui.input {
    input {
      border: 1px solid $border-grey-light;
      font-size: 16px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ui.button.basic {
    margin: 0 0.3rem;
  }
  .ui.button.submit {
    background-color: $primary;
    color: $font-light;
    margin: 0 0.3rem;
  }
}

.ui.form {
  .ui.input {
    input {
      border: 1px solid $border-grey-light;
      font-size: 16px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ui.button.basic {
    margin: 0 0.3rem;
  }
  .ui.button.submit {
    background-color: $primary;
    color: $font-light;
    margin: 0 0.3rem;
  }
}
@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 767px){
  body { 
    width: 100vh;
  }

  .home .banner .columns .background {
    width: 100%;
  }
}