@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;600;700;800;900&display=swap");

.carrito {
  padding: 30px;
  height: 700px;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/background-tienda1_Mesa\ de\ trabajo\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .carrito-title {
    font-size: 60px;
    color: $background-dark;
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 75px;
  }

  .columns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .product-cart {
      display: flex;
      flex-direction: row;
      background-color: white;
      box-shadow: 2px 2px 20px -2px #e5e5e5;
      padding: 30px;
      margin: 30px;
      justify-content: space-around;
      align-items: baseline;
      flex: 2;

      .product-cart-image {
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin-right: 10px;
      }

      .product-cart-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;

        .product-cart-info {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-end;
          padding: 10px 0px;

          .product-cart-title {
            padding: 0px 10px;
            font-size: 18px;
            font-weight: bold;
            flex: 2;
          }
          .product-cart-quantity {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            label {
              margin-right: 10px;
            }
            input {
              width: 40px;
              padding: 5px;
              border: 1px solid #ddd;
              border-radius: 4px;
              text-align: center;
            }
          }

          .product-cart-subtotal {
            display: flex;
            flex-direction: column;
            padding: 10px;
            // font-weight: bold;
            // font-size: 20px;
          }
        }

        .actualizar-btn {
          font-size: 15px;
          font-family: "Nunito", sans-serif;
          padding: 10px 40px;
          background-color: $success;
          color: #fff;
          border: none;
          border-radius: 20px;
          cursor: pointer;

          &:hover {
            background-color: $primary;
            color: #fff;
          }
        }
      }
    }

    .summary-cart {
      background-color: white;
      box-shadow: 2px 2px 20px -2px #e5e5e5;
      padding: 30px;
      border-top: 5px solid $primary;
      display: flex;
      flex-direction: column;
      // align-items: center;

      .summary-title {
        align-self: center;
      }

      .summary-detail {
        display: flex;
        flex-direction: column;

        .summary-subtotal {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .summary-envio {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .summary-total {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .buy-btn {
        font-size: 20px;
        font-family: "Nunito", sans-serif;
        padding: 10px 40px;
        background-color: $success;
        color: #fff;
        border: none;
        border-radius: 20px;
        align-self: center;
        cursor: pointer;

        &:hover {
          background-color: $primary;
          color: #fff;
        }
      }
    }
  }
}
